<div id="faq">
  <h3>What is a Virtual Private Server (VPS)?</h3>
  <div>
  <p>With the use of virtualization software, physical servers can be partitioned 
  into multiple "virtual" servers where each virtual server looks and acts like an individual dedicated server. Virtual Servers can run their own operating systems which means that each system can be administered independently – including system re–boot.
  
A Virtual Private Server (VPS) is one type of Virtual Server. It has its own operating system, applications and data which are all isolated from all other data that resides on the physical server. A Virtual Private Server can enable you to leverage the benefits of dedicated servers at a fraction of the cost.
  </p>
  </div>

  <h3>What are the benefits of using VPS?</h3>
  <div>
 <p>The advantages of using a VPS include:
 
 Improved reliability
 Increased Security
 Ease of use
 Lower total cost of ownership
 The most significant benefit is "flexibility". Given that VPS′s have their own operating environments, you can install you own operating system, you can add and remove software applications at will and you can modify you environment for optimum performance. A VPS allows you to customize your users′ experience. </p>
  </div>

  <h3>Who should use VPS?</h3>
  <div>
  <p>As web traffic increases, overall network performance can slow. Any business owner who anticipates growth should consider a VPS. As well, any business owner who needs specific / custom applications installed on their server, but isn't ready to invest in a dedicated should consider a VPS.</p>
  </div>
   
  <h3>Are Virtual Private Servers reliable? Couldn′t someone else′s application crash my server?</h3>
    <div>
    <p>Virtual Private Servers are private, isolated, environments. Your server and your data will not be affected by other users′ code. This benefit is especially important when mission critical web ap
You can easily back up both your data and your applications. You can essentially save the "state" of your VPS and, in turn, guarantee reliable services to your clients.</p>
     </div>

  <h3>Do I get a dedicated IP address with my VPS account?</h3>
    <div>
      <p>Yes. With your own dedicated IP address you can run your own web, e–mail and FTP servers. You can also improve their SEO performance by having a dedicated IP address.</p>
      </div>
      
  <h3>Are Virtual Private Servers secure</h3>
      <div>
        <p>Yes, when operating in a shared hosted environment, even with all the appropriate security measures, breaches in security can occur. The level of security increases significantly when you upgrade to VPS′s. Each VPS is isolated via virtualization software which keeps all data, applications and processes safe and secure in its own virtual environment.</p>
     </div>

     </div>
