<script> 
document.write('<p>Hello world</p>');
</script>
<script>
$(document).ready(function() {
 $('body').hide().fadeIn(3000) 
});
</script>
<script>
for (var i=0; i<5;i++) {
document.write(i);
}
</script>
<h1>aaaa</h1>
<p>jsjsjssbb</p>




