<div>
<p>
Secure your online identity today. Even if you are not ready to build a website, you can reserve your name so it's ready when you need it. Research also shows that major search engines, such as Google a
<br />
<br />

Free New Domain - Purchase any 12 month or 24 month plan and your Domain is Free.<br />
 Choose from any available .com, .net, .org, .us, .biz, or .info domain name!*
  </p>
   <br />
    <%= form_for(@domain) do |f| %>
     <div>
      <%= f.label :domain_name, "Search domain:" %>
     www. <%= f.text_field :domain_name, :size => 60 %>    
          <%= f.submit "Submit" %>
           </div>
<% end %>
               
            </div>
