<% if line_item == @current_item %>
<tr>
<% else %>
<tr>
<% end %>
<td>Hosting Plan(<%= line_item.product.title  %>)</td>
<td><%= number_to_currency(line_item.price) %></td>
</tr>
<tr>
<% if line_item.domain == "new" %>
<td>www.<%= line_item.domain_name  %></td>
<td><%= number_to_currency(10) %></td>
<% end %>
</td>
</tr>


